.DS_Store
_build/
target/
target
.mooncaches/
.mooncakes/
.moonagent/
.opencode/skills/
*.txt
*.exe
*.lib
*.pdb
*.dll
!models/**/*.onnx
!models/**/*.txtmodels/minilm-l6-v2/model.onnx
models/minilm-l6-v2/model.onnx
*.obj
